.box
{
    background-color: aqua;
    height: 300px;
    width: 300px;
    margin-left: 480px;
    margin-top: 100px;
}
.dayLight
{
background-color: skyblue;
}
.button
{
    width: auto;
    background-color:white;
    display: flex;
    border-radius: 2,2,2,2;
    opacity: 0.8;
    
    
}