.box
{
    background-color: aqua;
    height: 500px;
}
.dayLight
{
background-color: skyblue;
}
.button
{
    width: auto;
    background-color:white;
    display: flex;
    border-radius: 2,2,2,2;
    opacity: 0.5;
    text-align: center;
    justify-content: space-around;
}